<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>HayStack-Army.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
				<key>dateExpires</key>
				<string>18/05/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Alamofire.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ObjectMapper.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>036BFC1A2B898D1C52DBA6023BA777135001AD4B</string>
						<key>dateExpires</key>
						<string>18/05/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>JV7SRCLA2P</string>
						<key>name</key>
						<string>ME911</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>836UPNJ6P2.com.anaad.Haystack.Army</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.team-identifier</key>
				<string>JV7SRCLA2P</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>HayStack-Army.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>64399e93-defb-4d3f-8eec-377b7525f17f</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.anaad.Haystack.Army</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>JV7SRCLA2P</string>
				<key>name</key>
				<string>ME911</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
